<mat-drawer-container> 
        
    <mat-drawer #drawer class="sidenav col-3" mode="side">
        <div>
            <mat-card>
                <button color="primary" (click)='addCategory()' mat-button>Новая категория</button>
                <mat-slide-toggle>Когда-нибудь...</mat-slide-toggle>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
        <div *ngFor='let category of categories'>
            <app-file-category-item [(category)]='category' (loadItems)='loadItems()' (deleteCategory)='deleteCategory($event)'></app-file-category-item>
        </div>
    </mat-drawer>
    
    <mat-drawer-content>
        <div class='container-fluid'>
            <mat-toolbar class="container-menu">
                <button class="content-button" mat-button (click)="drawer.toggle()">Фильтры</button>
                <button class="content-button" color="primary" mat-button color="primary" (click)='addFile()'>Добавить файл</button>
            </mat-toolbar>
            <h2>File List</h2>  
            <div class='row'>

                <div *ngIf="isCreateFile">
                    <app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)" [(categories)]="categories" [(fileAccesses)]="fileAccesses" (loadItems)='loadItems()'></app-upload>                    
                    <p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
                    <label class="error" [hidden]="!showDownloadError">download error.</label>
                    <label class="error" [hidden]="!showUploadError">upload error</label>
                </div>   
                <hr>
                <div class='col-auto' *ngFor='let card of files'>
                    <app-file-item [(card)]='card' [(categories)]='categories' [(fileAccesses)]='fileAccesses' (deleteFile)='deleteFile($event)'></app-file-item>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
